<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit</title>

    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/archedit.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/jquery-ui/jquery-ui.css">

    <script type="text/javascript" src="/assets/vendor/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/assets/vendor/paper/paper-full.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>



    <style>

    </style>
</head>

<body>
<div class="overall">

    <div class="designBoard">
        <ul>
            <li class="bath">Bathroom</li>
            <li class="bed">Bedroom</li>
            <li class="live">Living Room</li>
            <li class="kitchen">Kitchen</li>
        </ul>
        <div id = "bath" class = "tab"></div>
        <div id = "bed" class = "tab"></div>
        <div id = "live" class = "tab"></div>
        <div id = "kitchen" class = "tab"></div>
    </div>

    <div class="chatbox">
        <div id="chatBoxText">Send Messages</div>
        <textarea id="userTextSoFar">

        </textarea>
        <textarea id="textToSend"></textarea>

    </div>
</div>
</body>

<script src="/assets/js/userViewing.js">


</script>

</html>
